
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700');

// Bootstrap Variables
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Theme variables
@import "variables";

// User Variables
@import "user-variables";


@import "bootstrap/scss/bootstrap";

@import "tiny-slider/dist/tiny-slider.css";

// // Bootstrap core
// @import "bootstrap/scss/bootstrap";

// Extended bootstrap utilities
@import "custom/utilities";
@import "bootstrap/scss/utilities/api";

// Extended Bootstrap components
@import "custom/breadcrumb";
@import "custom/dropdowns";
@import "custom/navbar";
@import "custom/nav";
@import "custom/buttons";
@import "custom/list-group";
@import "custom/tab";
@import "custom/type";
@import "custom/progress";
@import "custom/reboot";

// Theme Core CSS
@import "core/general";
@import "core/utilities";
@import "core/header";
@import "core/footer";
@import "core/portfolio";
@import "core/blog";

// Theme Components 
@import "components/accordion";
@import "components/feature-box";
@import "components/pricing";
@import "components/testimonials";
@import "components/overlay";
@import "components/process";
@import "components/blockquote";
@import "components/divider";
@import "components/social-icons";
@import "components/team";
@import "components/tiny-slider";

// In this scss you can write your scss
@import "user";


// animate.css
@import "animate.css/animate.min.css";

// Icons
@import "icons/themify-icons/css/themify-icons.css";
@import "icons/font-awesome/all.min.css";

.typist-cursor {
  // font-size: 16px;
  color: #000 !important;
}

.hero-section {
  min-height: 700px;
}


.footer-link {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #ffffff !important;
  text-decoration: underline;
  scale: 0.25;
}

